<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunbao.main">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ShanDuiActivity"
            android:screenOrientation="portrait" ></activity>
        <activity
            android:name=".activity.WodeShouyiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DaRenSqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RealNameAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LqadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindingRecommanderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LeijiAidouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdrwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDsttRedPacketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginInvalidActivity"
            android:theme="@style/dialog2" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyImpressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyProfitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ThreeDistributActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShopGoodsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>